body{
    color: white;
    background-color: #083b4c;
}

ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: 30px auto;
    padding: 0;
}

ul li{
    height: 100px;
    width: 100px;
    background-color: #1389b2;
    text-align: center;
    line-height: 80px;
    border: 10px solid #083b4c ;
}

.Fizz{
    background-color: #0bd6a1;
}

.Buzz{
    background-color: #ffd166;
}

.FizzBuzz{
    background-color: #f0466f;
}